*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
.filter{
    height: 90%;
    display: flex;
    height: 90%;
    margin-top: 3px;
    margin-left: 70px;
}
.action{
    height: 90%;
    display: flex;
    height: 90%;
    margin-top: 3px;
    margin-left: 70px;
}
.container{
    height: 60px;
    display: flex;

    background-color: #4285F4;
}
.div-1{
    background-color: black;
}

.div-2{
    background-color :red;
}

.div-3{
    background-color: gray;
}

.div-4{
    background-color: black;
}